body {
    font-family: product-sans;
    background-color: #ebeff4;
    color: #333333;
    width: 600px;
    margin: 0 50px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  h1{
    color: #2c3e50;
    border-bottom: 2px solid #e74c3c;
    padding-bottom: 10px;
  }
  
  header, footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  main {
    padding: 40px;
  }
  
  section {
    max-width: 800px;
    margin: 0 auto;
  }